#mod_rewrite starts here

RewriteEngine on

#does not apply existing directories, meaning  that if  the folder exists on the server then don't do anything rule! 

RewriteCond %{REQUEST_FILENAME} !-d

#check for file in directory with .html extension 

RewriteCond %{REQUEST_FILENAME}\.html -f

#here we actually show the page that has the .htnml ext 

RewriteRule ^(.*)$ $1.html [NC,L]