/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: center;
}

.navbar {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  margin: auto;
}

p {
    color: #333333;
}

/* Additional CSS rules */
body {
  background-color: #b0aca2;
}
hr {
  height:2px;
  background-color: #45523e;
  border-color: #45523e;
}
.connect {
  background-color: #45523e ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
a:hover{
  color:brown;
}
a:visited{
  color:#45523e
}
h1 {
  font-size: 24px;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center
}
.image {
  flex-basis: 40%
}

.pictext {
  font-size: 20px;
  padding-left: 20px;
}


img {
  border-radius: 50%;
}

.text {
  color: #f5ece5;
}

#image1 {
    width: 600px;
    height: auto;
}

/* Media query to shrink the picture me sitting to 300px when viewport is equal to or smaller than 400px */
@media only screen and (max-width: 400px) {
  #image1 {
    width: 300px;
  }
}

/* Media query to set the picture me sitting width to percentage when viewport is equal to or smaller than 300px */
@media only screen and (max-width: 300px) {
  #image1 {
    max-width: 300px;
    width: 100%;
  }
}