p {
    color: rgb(0, 116, 0);
}

/* Additional CSS rules */
body {
  background-color: lightgray;
}

h1 {
  font-size: 24px;
}

h1 {
  text-align: center;
}

.text {
  color: rgb(0, 92, 0);
}

#image1 {
    width: 600px;
    height: auto;
}

/* Media query to shrink smiley face to 300px when viewport is equal to or smaller than 400px */
@media only screen and (max-width: 400px) {
  #test {
    width: 300px;
  }
}

/* Media query to set smiley face's width to percentage when viewport is equal to or smaller than 300px */
@media only screen and (max-width: 300px) {
  #test {
    max-width: 300px;
    width: 100%;
  }
}